In [39]:
import numpy as np
import pandas as pd

data = pd.read_csv("written_name_train_v2.csv")

data.dropna(inplace=True)
data.drop(data[data['IDENTITY'].str.lower()=='unreadable'].index, inplace=True)
data.reset_index(drop=True, inplace=True)
data.isnull().sum()

FILENAME    0
IDENTITY    0
dtype: int64

In [40]:
data[data['IDENTITY'].str.lower()=='unreadable']

Empty DataFrame
Columns: [FILENAME, IDENTITY]
Index: []

In [41]:
test = pd.read_csv("written_name_test_v2.csv")
test.dropna(inplace=True)
test.drop(test[test['IDENTITY'].str.lower()=='unreadable'].index, inplace=True)
test.reset_index(drop=True, inplace=True)
test.isnull().sum()

FILENAME    0
IDENTITY    0
dtype: int64

In [42]:
test[test['IDENTITY'].str.lower()=='unreadable']

Empty DataFrame
Columns: [FILENAME, IDENTITY]
Index: []

In [43]:
validation = pd.read_csv("written_name_validation_v2.csv")
validation

                   FILENAME    IDENTITY
0       VALIDATION_0001.jpg       BILEL
1       VALIDATION_0002.jpg  LAUMIONIER
2       VALIDATION_0003.jpg         LEA
3       VALIDATION_0004.jpg   JEAN-ROCH
4       VALIDATION_0005.jpg        RUPP
...                     ...         ...
41365  VALIDATION_41366.jpg    CHAILLAN
41366  VALIDATION_41367.jpg      BAROUH
41367  VALIDATION_41368.jpg     MAXENCE
41368  VALIDATION_41369.jpg     HAMELIN
41369  VALIDATION_41370.jpg        LOLA

[41370 rows x 2 columns]

In [37]:
validation.dropna(inplace=True)
validation.drop(validation[validation['IDENTITY'].str.lower()=='unreadable'].index, inplace=True)
validation.reset_index(drop=True, inplace=True)
validation.isnull().sum()

FILENAME    0
IDENTITY    0
dtype: int64

In [38]:
validation[validation['IDENTITY'].str.lower()=='unreadable']

Empty DataFrame
Columns: [FILENAME, IDENTITY]
Index: []